<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CFP Profile</title>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Thai&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'CFPSignupLogin/css/style.css' %}">
  <script src="{% static 'CFPSignupLogin/js/script.js' %}"></script>
  <style>
    * {
      box-sizing: border-box;
    }
    body {
      font-family: 'IBM Plex Sans Thai', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f9f9f9;
    }
  </style>
</head>
<body>
    <h1>นาย ณิชา สุดสวย</h1>
    <dl>
      <dt><strong>อาชีพปัจจุบัน</strong></dt>
      <dd>Financial Planner at KBank Ladkrabang</dd>
    
      <dt><strong>Bio</strong></dt>
      <dd>ผมเป็นนักวางแผนการเงินที่มีประสบการณ์มากกว่า 13 ปี เชี่ยวชาญด้านการวางแผนภาษี การจัดการสินทรัพย์ และการสร้างแผนการเงินที่ตอบโจทย์เป้าหมายชีวิตของคุณแบบครบวงจร ความสุขของผมคือการได้ช่วยให้ลูกค้าทุกคนมั่นใจในอนาคตทางการเงิน พร้อมคำแนะนำที่เข้าใจง่ายและเป็นมิตร หากต้องการคำปรึกษาหรือวางแผนการเงินที่ตรงใจ ติดต่อผมได้เลยครับ ยินดีให้คำปรึกษาทุกขั้นตอน!😊</dd>
    
      <dt><strong>วัน/เดือน/ปี เกิด</strong></dt>
      <dd>11/12/1990</dd>

      <dt><strong>การศึกษา</strong></dt>
      <dd><details>
        <summary>ปริญญาโท</summary>
        <p> 
          <ul>
            <li>KMITL</li>
            <li>NIDA</li>
          </ul>
        </p>
      </details></dd>
    
      <dt><strong>ประสบการณ์ทำงาน</strong></dt>
      <dd>
        <ul>
          <li>Financial Planner at SCB Nakhon nayok</li>
          <li>Financial Planner at KBank Ladkrabang</li>
        </ul>
      </dd>
    
      <dt><strong>ความชำนาญ</strong></dt>
      <dd>
        <ul>
          <li>วางแผนภาษี</li>
        </ul>
      </dd>

      <dt><strong>การให้บริการ</strong></dt>
      <dd>
        <dl>
          <dt><strong>การคิดค่าบริการ</strong></dt>
          <dd>ครั้งละ 2000-5000 บาท</dd>
          <dt><strong>พื้นที่ให้บริการ</strong></dt>
          <dd>เขตลาดกระบัง กทม</dd>
          <dt><strong>ภาษาที่ให้บริการ</strong></dt>
          <dd>ไทย, English</dd>
        </dl>
      </dd>
    </dl>
</body>
</html>